<!DOCTYPE html>
<html lang="en">
<head>
  {% load static tailwind_tags %}
  {% tailwind_css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav class="flex justify-between px-4 py-2 shadow-lg">
    <div><span class="logo text-neutral-950 text-lg">Todo<b class="text-lime-700">App</b></span></div>
    <div>
      <ul class="flex items-center">
        {% block action %}{% endblock %}
      </ul>
    </div>
  </nav>
  <div class="px-4">
  {% block content %}{% endblock %}
  </div>
</body>
</html>
