{% extends 'base.html' %}

{% block title %}TodoApp{% endblock %}

{% block action %}
<div>
  {% if logged %}
    <span>You're logged, {{ name }}! :)</span>
  {% else %}
    <li class="float-left duration-300 hover:text-green-700"><a href="{% url 'register' %}">Register</a></li>
    <li class="float-left ms-4 duration-300 hover:text-green-700"><a href="{% url 'login' %}">Login</a></li>
  {% endif %}
</div>
{% endblock %}

{% block content %}
  {% if logged %}
      <h1>Hi!</h1>
    {% else %}
      {% include 'info.html' %}
  {% endif %}
{% endblock %}
